.card {
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 504px;
  height: 184px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__top {
    flex: 1 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__bottom {
    flex: 2 0 auto;
    background: rosybrown;
  }

  &__price {
    display: flex;
    font-size: 24px;
    align-items: center;
    color: #2196f3;
  }
}
