.ticket {
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 504px;
  height: 184px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  &-error {
    color: red;
    padding: 40px 20px;
    text-align: center;
  }

  &-loader {
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &__top {
    flex: 1 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__bottom {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__price {
    display: flex;
    font-size: 24px;
    align-items: center;
    color: #2196f3;
  }

  &__logo {
    display: flex;
    flex-basis: 141px;
  }

  &-info {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
  }

  &-endpoint {
    display: flex;
    flex-direction: column;
    flex-basis: 141px;

    &__title {
      font-size: 12px;
      color: #a0b0b9;
      text-transform: uppercase;
    }
  }
}
